# Eclipse ve IDE dosyalarını yoksay
.settings/
.project
.classpath

# Derleme çıktıları ve çalışma dosyalarını yoksay
*.exe
*.class
bin/
target/

# Geçici dosyalar ve log dosyalarını yoksay
*.log
*.tmp

# Diğer gereksiz dosyaları yoksay
*.bak
*.swp
